@import url(http://fonts.googleapis.com/css?family=Oswald);
/* line 4, ../sass/extend.sass */
body {
  font-family: "Oswald", sans-serif;
  background: url("../img/wdmk_bk.jpg") no-repeat center center #003366;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 8, ../sass/extend.sass */
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: bold;
}

/* line 11, ../sass/extend.sass */
input, select, textarea {
  font-family: "Oswald", sans-serif;
}

/* line 13, ../sass/extend.sass */
a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 14, ../sass/extend.sass */
a:hover, a:focus, a:hover {
  color: #cccccc;
}

/* line 19, ../sass/extend.sass */
.clear {
  clear: both;
}

/* line 21, ../sass/extend.sass */
.hidden {
  display: none;
}

/* line 23, ../sass/extend.sass */
.margin {
  width: auto;
}

/* line 25, ../sass/extend.sass */
#shadow {
  width: 980px;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  background: black;
  opacity: 0.9;
}

/* line 31, ../sass/extend.sass */
input[type="text"], input[type="password"], textarea {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 153, 255, 0.4);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 153, 255, 0.4);
  box-shadow: 0 1px 2px 0px rgba(0, 153, 255, 0.4);
  display: block;
  width: 160px;
  height: 26px;
  margin: 0 10px;
  padding: 0 15px;
  font-size: 10px;
  line-height: 20px;
  color: #444444;
  border: 2px solid #111111;
  text-transform: uppercase;
}

/* Navigation bar */
/* line 48, ../sass/extend.sass */
#user-nav .margin {
  width: 920px;
  height: 30px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  background: black;
}
/* line 56, ../sass/extend.sass */
#user-nav .margin ul li {
  font-size: 14px;
}
/* line 59, ../sass/extend.sass */
#user-nav .margin #social-connect a {
  float: left;
  width: 30px;
  height: 30px;
}
/* line 63, ../sass/extend.sass */
#user-nav .margin #social-connect .social-connect-fb {
  background: url("../img/wdmk_fb.png") no-repeat center center;
}
/* line 65, ../sass/extend.sass */
#user-nav .margin #social-connect .social-connect-tw {
  background: url("../img/wdmk_tw.png") no-repeat center center;
}
/* line 67, ../sass/extend.sass */
#user-nav .margin #social-connect .social-connect-pt {
  background: url("../img/wdmk_pt.png") no-repeat center center;
}
/* line 69, ../sass/extend.sass */
#user-nav .margin #languages {
  margin: 0 auto;
  width: 310px;
  height: 30px;
  position: relative;
}
/* line 74, ../sass/extend.sass */
#user-nav .margin #languages span {
  width: 85px;
  height: 30px;
  display: block;
  float: left;
}
/* line 79, ../sass/extend.sass */
#user-nav .margin #languages span.lang-dx {
  background: url("../img/wdmk_lang_dx.png") no-repeat center center;
}
/* line 81, ../sass/extend.sass */
#user-nav .margin #languages span.lang-sx {
  background: url("../img/wdmk_lang_sx.png") no-repeat center center;
}
/* line 83, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate {
  margin-left: -10px;
  float: left;
  width: 140px;
  height: 30px;
}
/* line 89, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate ul {
  top: 4px;
  right: 98px;
}
/* line 92, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 97, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate ul li a:visited, #user-nav .margin #languages .widget_qtranslate ul li a:active {
  color: white;
  text-decoration: none;
}
/* line 100, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate ul li a:hover {
  color: #cccccc;
  text-decoration: none;
}
/* line 103, ../sass/extend.sass */
#user-nav .margin #log-in ul {
  position: absolute;
  top: 7px;
  right: 30px;
}
/* line 107, ../sass/extend.sass */
#user-nav .margin #log-in ul li {
  font-size: 12px;
  text-transform: uppercase;
}
/* line 110, ../sass/extend.sass */
#user-nav .margin #log-in ul li a {
  color: white;
}
/* line 112, ../sass/extend.sass */
#user-nav .margin #log-in ul li a:visited, #user-nav .margin #log-in ul li a:active {
  color: white;
}
/* line 114, ../sass/extend.sass */
#user-nav .margin #log-in ul li a:hover {
  color: #cccccc;
}

/* Header */
/* line 121, ../sass/extend.sass */
body.home #header, #header {
  width: 920px;
  height: 102px;
  margin: 0 auto;
  padding: 27px 30px 0;
  background: url(../img/wdmk_bk_header.png) repeat-x 0 bottom black;
}

/* line 128, ../sass/extend.sass */
body.home #header #logo, #header #logo {
  float: left;
  margin: 20px 0 0;
}

/* line 132, ../sass/extend.sass */
body.home #header .margin, #header .margin {
  width: auto;
  border-bottom: 0 none transparent;
  padding: 0;
}

/* line 137, ../sass/extend.sass */
body.home #header #topnav, #header #topnav {
  bottom: 22px;
}
/* line 139, ../sass/extend.sass */
body.home #header #topnav #menu-main-menu, #header #topnav #menu-main-menu {
  padding: 0;
}
/* line 141, ../sass/extend.sass */
body.home #header #topnav ul, #header #topnav ul {
  width: auto;
}
/* line 144, ../sass/extend.sass */
body.home #header #topnav ul li, #header #topnav ul li {
  height: 18px;
  border-right: 3px solid black;
}
/* line 149, ../sass/extend.sass */
body.home #header #topnav ul li#menu-item-129, #header #topnav ul li#menu-item-129 {
  border-right: none;
}
/* line 151, ../sass/extend.sass */
body.home #header #topnav ul li#menu-item-129 a, #header #topnav ul li#menu-item-129 a {
  padding-right: 0;
}
/* line 153, ../sass/extend.sass */
body.home #header #topnav ul li a, #header #topnav ul li a {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  padding: 0px 10px;
  position: relative;
  text-decoration: none;
  color: black;
  margin-top: -4px;
}
/* line 162, ../sass/extend.sass */
body.home #header #topnav ul li a:visited, body.home #header #topnav ul li a:active, #header #topnav ul li a:visited, #header #topnav ul li a:active {
  color: black;
}
/* line 164, ../sass/extend.sass */
body.home #header #topnav ul li a:hover, #header #topnav ul li a:hover {
  color: white;
  background-color: transparent;
}

/* line 168, ../sass/extend.sass */
#leader {
  width: 920px;
  padding: 20px 30px;
  background: black;
}
/* line 172, ../sass/extend.sass */
#leader h1 {
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 black;
}

/* line 178, ../sass/extend.sass */
div.breadcrumb {
  padding: 7px 7px 0 0;
  margin-top: 5px;
}
/* line 181, ../sass/extend.sass */
div#products_page_container {
  margin: 0;
}

/* Main Content */
/* line 185, ../sass/extend.sass */
#content-wrapper {
  width: 920px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}
/* line 192, ../sass/extend.sass */
#content-wrapper .custom-search-widget {
  margin-top: 20px;
}
/* line 195, ../sass/extend.sass */
#content-wrapper .custom-search-widget #search-key-words {
  float: right;
}
/* line 200, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul {
  max-width: 710px;
}
/* line 202, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul li {
  float: left;
  background: #0099ff;
  margin: 0 3px 3px 0;
}
/* line 206, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul li a {
  color: white;
  padding: 7px;
  font-size: 18px;
  text-transform: uppercase;
}
/* line 211, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul li a:hover {
  color: #003366;
}
/* line 214, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul .active a {
  color: #003366;
}
/* line 216, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul .active a:hover {
  color: white;
}
/* line 218, ../sass/extend.sass */
#content-wrapper .custom-search-widget .b4k-select {
  clear: both;
  position: relative;
  margin-top: 20px;
  height: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #444444;
  padding: 20px 0 20px 10px;
  background: url(../img/wdmk_bk_search.png) repeat-x 0 0;
}
/* line 227, ../sass/extend.sass */
#content-wrapper .custom-search-widget .b4k-select label {
  display: none;
}
/* line 229, ../sass/extend.sass */
#content-wrapper .custom-search-widget .b4k-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 444px;
  height: 35px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 3px 0 0;
  text-indent: 15px;
  -webkit-box-shadow: rgba(68, 68, 68, 0.7) 2px 2px 5px 1px inset;
  -moz-box-shadow: rgba(68, 68, 68, 0.7) 2px 2px 5px 1px inset;
  box-shadow: rgba(68, 68, 68, 0.7) 2px 2px 5px 1px inset;
  background: url(../img/wdmk_select_arrow.png) no-repeat right center white;
}
/* line 243, ../sass/extend.sass */
#content-wrapper .custom-search-widget .b4k-select .b4k-separator {
  clear: both;
  width: 840px;
  height: 1px;
  margin: 0 auto;
  background-color: #0099ff;
  position: absolute;
  top: 148px;
  left: 40px;
}
/* line 252, ../sass/extend.sass */
#content-wrapper .custom-search-widget .b4k-select .b4k-static-select {
  position: absolute;
  bottom: 70px;
  width: 100%;
}
/* line 256, ../sass/extend.sass */
#content-wrapper .custom-search-widget .b4k-select .b4k-static-select select {
  width: 217px;
  height: 30px;
  font-size: 15px;
}
/* line 260, ../sass/extend.sass */
#content-wrapper .custom-search-widget select[name="b4k_pmin"],
#content-wrapper .custom-search-widget input[type="submit"] {
  width: 217px;
  height: 30px;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
}
/* line 267, ../sass/extend.sass */
#content-wrapper .custom-search-widget input[type="submit"] {
  right: 1px;
  padding: 0 15px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  color: white;
  text-shadow: black 0 -1px 0;
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #c1cdd9;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099ff), color-stop(100%, #052341));
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, -webkit-linear-gradient(#0099ff, #052341);
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, -moz-linear-gradient(#0099ff, #052341);
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, -o-linear-gradient(#0099ff, #052341);
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, linear-gradient(#0099ff, #052341);
}
/* line 281, ../sass/extend.sass */
#content-wrapper .custom-search-widget input[type="submit"]:hover {
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #001a35), color-stop(100%, #0099ff));
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, -webkit-linear-gradient(#001a35, #0099ff);
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, -moz-linear-gradient(#001a35, #0099ff);
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, -o-linear-gradient(#001a35, #0099ff);
  background: url("../img/wdmk_search_button.png") no-repeat 99% center, linear-gradient(#001a35, #0099ff);
}
/* line 283, ../sass/extend.sass */
#content-wrapper .custom-search-widget input[type="submit"]:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px -1px 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px -1px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 1px -1px 5px inset;
}
/* line 285, ../sass/extend.sass */
#content-wrapper #home-sidebar {
  float: right;
}
/* line 287, ../sass/extend.sass */
#content-wrapper #home-sidebar h3 {
  display: none;
}
/* line 289, ../sass/extend.sass */
#content-wrapper #main-col {
  width: 780px;
}
/* line 292, ../sass/extend.sass */
#content-wrapper #main-col .blog-post {
  width: 185px;
  float: left;
  margin-right: 10px;
  height: 300px;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  border-bottom: none;
}
/* line 303, ../sass/extend.sass */
#content-wrapper .prima-multislider ul li .prima-multislide-box {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
}
/* line 307, ../sass/extend.sass */
#content-wrapper .overlay {
  position: absolute;
  height: 165px;
  width: 185px;
  bottom: 0;
  z-index: 10;
  opacity: 0.95;
  background: black;
  border-top: 1px solid #dddddd;
}
/* line 316, ../sass/extend.sass */
#content-wrapper .overlay .price {
  height: 60px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 1.7;
}
/* line 324, ../sass/extend.sass */
#content-wrapper .overlay .excerpt {
  max-height: 47px;
  overflow: hidden;
  text-align: left;
  line-height: 1.3;
}
/* line 329, ../sass/extend.sass */
#content-wrapper .overlay h3 {
  text-align: left;
  margin-bottom: 7px;
}
/* line 332, ../sass/extend.sass */
#content-wrapper .overlay a {
  font-size: 14px;
  color: #0099ff;
}
/* line 335, ../sass/extend.sass */
#content-wrapper .overlay a.read-more {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  width: 100%;
  color: white;
  background: #0099ff;
  text-align: center;
}

/* Footer */
/* line 351, ../sass/extend.sass */
#footer {
  background: url(../img/wdmk_bk_footer.png) 0 bottom repeat-x black;
  padding: 0 30px;
  line-height: 1.8;
}
/* line 356, ../sass/extend.sass */
#footer #bannerdiv0 {
  margin-left: -30px;
  position: relative;
  top: 4px;
}
/* line 360, ../sass/extend.sass */
#footer #footer-bottom {
  padding: 5px 0;
}
/* line 362, ../sass/extend.sass */
#footer #footer-bottom .col-3 {
  width: 286px;
  margin-right: 15px;
}
/* line 366, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container {
  padding-top: 25px;
  padding-right: 15px;
  margin-bottom: 0;
  border-right: 1px solid #0099ff;
  height: 171px;
  width: 286px;
}
/* line 373, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container a {
  font-size: 16px;
  color: #beceda;
}
/* line 376, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container a:visited, #footer #footer-bottom .col-3 .widget-container a:active {
  color: #beceda;
}
/* line 378, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container p, #footer #footer-bottom .col-3 .widget-container li {
  color: #beceda;
}
/* line 380, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container a:hover {
  color: #beceda;
  text-decoration: underline;
}
/* line 384, ../sass/extend.sass */
#footer #footer-bottom .footer-newsletter {
  padding-top: 10px;
  padding-right: 15px;
  margin-left: 15px;
  border-right: 1px solid #0099ff;
  height: 186px;
  width: 286px;
}
/* line 392, ../sass/extend.sass */
#footer #footer-bottom .footer-newsletter #ml-newsletterform p {
  color: #beceda;
  line-height: 2;
}
/* line 395, ../sass/extend.sass */
#footer #footer-bottom .footer-newsletter #ml-newsletterform p#ml-p {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 401, ../sass/extend.sass */
#footer #footer-bottom .footer-newsletter #ml-newsletterform #ml-email {
  padding: 0 10px;
  font-size: 10px;
  color: #010000;
  border: 2px solid #000033;
  width: 262px;
  height: 26px;
  text-transform: none;
  -webkit-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  -moz-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  margin: 20px 0 0;
}
/* line 411, ../sass/extend.sass */
#footer #footer-bottom .footer-newsletter #ml-newsletterform #ml-button {
  font-size: 16px;
  background: #000033;
  text-transform: uppercase;
  padding: 0 20px;
  height: 26px;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  margin-top: 10px;
}
/* line 420, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form {
  padding-top: 10px;
  padding-left: 0;
  margin: 0;
  height: 171px;
  width: 286px;
}
/* line 427, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .footer-contact-form-title {
  margin: 0 0 10px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 433, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form input[type="text"] {
  padding: 0 10px;
  font-size: 10px;
  color: #010000;
  border: 2px solid #000033;
  width: 262px;
  height: 26px;
  margin: 0;
  text-transform: none;
  margin-bottom: 20px;
  -webkit-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  -moz-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
}
/* line 444, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .footer-contact-form-message {
  margin: 0;
}
/* line 446, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .footer-contact-form-message textarea {
  margin-top: -15px;
  margin-left: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 7px 10px;
  font-size: 10px;
  color: #010000;
  border: 2px solid #000033;
  width: 262px;
  height: 46px;
  overflow: auto;
  -webkit-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  -moz-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
}
/* line 459, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form input[type="submit"] {
  display: block !important;
  background: #000033 !important;
  border: 0 none transparent !important;
  color: white !important;
  cursor: pointer !important;
  float: right !important;
  font-size: 16px !important;
  font-weight: bold !important;
  height: 26px !important;
  line-height: 20px !important;
  margin: 5px 0 0 !important;
  padding: 0 20px !important;
  text-align: center !important;
  text-transform: uppercase;
  line-height: 1;
}
/* line 477, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .my-error input, #footer #footer-bottom .footer-contact-form .my-error textarea {
  border: 1px solid red;
}
/* line 481, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form div.wpcf7-response-output {
  margin: 0;
  padding: 0;
}
/* line 484, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form div.wpcf7-mail-sent-ok {
  color: white;
  border: 0 none transparent !important;
}

/* line 488, ../sass/extend.sass */
#copyright {
  width: 980px;
  margin: 0 auto;
}
/* line 491, ../sass/extend.sass */
#copyright .margin {
  padding: 5px 0px;
  background: transparent none;
}

/* line 498, ../sass/extend.sass */
#checkout .user-profile-links a {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}
/* line 502, ../sass/extend.sass */
#checkout .user-profile-links a:active, #checkout .user-profile-links a:hover {
  color: #cccccc;
}
/* line 505, ../sass/extend.sass */
#checkout #loginform {
  margin-top: 30px;
}
/* line 507, ../sass/extend.sass */
#checkout #loginform p {
  margin: 0;
}
/* line 509, ../sass/extend.sass */
#checkout #loginform label {
  margin: 0 15px;
}
/* line 511, ../sass/extend.sass */
#checkout #loginform input {
  margin: 0;
}
/* line 513, ../sass/extend.sass */
#checkout #loginform input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: #0099ff;
  border: none;
  padding: 5px 20px;
  margin: 10px 15px 0;
  font-size: 15px;
  cursor: pointer;
}
/* line 526, ../sass/extend.sass */
#checkout table {
  background: white;
}
/* line 529, ../sass/extend.sass */
#checkout table th, #checkout table td, #checkout table caption {
  color: #444444;
}
/* line 531, ../sass/extend.sass */
#checkout textarea {
  height: 56px;
}
/* line 533, ../sass/extend.sass */
#checkout select {
  width: 180px;
  margin-left: 17px;
}
/* line 536, ../sass/extend.sass */
#checkout input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: #000033;
  border: none;
  padding: 5px 20px;
  margin: 10px 20px 0;
  font-size: 12px;
  cursor: pointer;
}

/* line 550, ../sass/extend.sass */
.prima-multislider ul li,
div#main-col .prima-multislider ul li {
  padding-left: 0;
}

/* line 556, ../sass/extend.sass */
.big_green_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: #0099ff;
  border: none;
  padding: 5px 20px;
  margin: 10px 0;
  font-size: 12px;
  cursor: pointer;
}

/* line 568, ../sass/extend.sass */
span.vote_total {
  color: white;
}

/* line 571, ../sass/extend.sass */
.wpsc_product_rating .star a {
  background: transparent url("../img/grey-star.png") no-repeat 0 bottom;
}

/* line 573, ../sass/extend.sass */
.wpsc_product_rating .star a.selected, .wpsc_product_rating .star a:hover {
  background: transparent url("../img/gold-star.png") no-repeat 0 bottom;
}

/* line 576, ../sass/extend.sass */
h3.prodtitles a {
  color: white;
  text-shadow: none;
}

/* line 581, ../sass/extend.sass */
#authorbox h3 {
  display: none;
}

/* line 585, ../sass/extend.sass */
.addthis_toolbox {
  margin: 0 0 20px;
}

/* line 588, ../sass/extend.sass */
.single-imagecol {
  width: 400px !important;
  max-width: 400px !important;
}
/* line 591, ../sass/extend.sass */
.single-imagecol div.main_image a {
  max-width: 400px !important;
  width: auto !important;
}

/* line 595, ../sass/extend.sass */
div.single-producttext {
  width: 490px !important;
  max-width: 490px !important;
}

/* line 599, ../sass/extend.sass */
img.attachment-post-thumbnail {
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white;
}

/* line 607, ../sass/extend.sass */
div.group-thumbnail img, div.single_container div.single-imagecol a img {
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white;
}

/* line 614, ../sass/extend.sass */
a.large-blog-image img, div.main_image img {
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white;
}

/* line 621, ../sass/extend.sass */
.custom_product_footer {
  clear: both;
  margin: 20px 0 0;
  padding: 10px 0;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  overflow: hidden;
}
/* line 628, ../sass/extend.sass */
.custom_product_footer p {
  margin: 0;
}
/* line 630, ../sass/extend.sass */
.custom_product_footer .lt {
  float: left;
  width: 240px;
}
/* line 633, ../sass/extend.sass */
.custom_product_footer .rt {
  float: left;
  width: 240px;
  margin: 0 0 0 10px;
}

/* line 640, ../sass/extend.sass */
.addthis_container_custom .addthis_toolbox {
  margin: 10px 0;
}

/* line 648, ../sass/extend.sass */
#slider-controls {
  text-align: right;
  margin-top: -28px;
  padding-right: 30px;
}

/* line 653, ../sass/extend.sass */
#featured-slider {
  padding-bottom: 15px;
}

/* line 656, ../sass/extend.sass */
.prima-multislider-title {
  left: -10px;
}
