@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
/* line 5, ../sass/extend.sass */
body {
  font-family: "Oswald", sans-serif;
  background: #003366;
  width: 100%;
  height: 100%;
}

/* line 12, ../sass/extend.sass */
#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 22, ../sass/extend.sass */
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: 700;
}

/* line 25, ../sass/extend.sass */
input, select, textarea {
  font-family: "Oswald", sans-serif;
}

/* line 27, ../sass/extend.sass */
a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 28, ../sass/extend.sass */
a:hover, a:focus, a:hover {
  color: #cccccc;
}

/* line 33, ../sass/extend.sass */
p {
  font-size: 14px;
}

/* line 35, ../sass/extend.sass */
.clear {
  clear: both;
}

/* line 37, ../sass/extend.sass */
.hidden {
  display: none;
}

/* line 39, ../sass/extend.sass */
.margin {
  width: auto;
}

/* line 41, ../sass/extend.sass */
#shadow {
  width: 980px;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.9);
}

/* line 46, ../sass/extend.sass */
input[type="text"], input[type="password"], textarea {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 153, 255, 0.4);
  -moz-box-shadow: 0 1px 2px 0px rgba(0, 153, 255, 0.4);
  box-shadow: 0 1px 2px 0px rgba(0, 153, 255, 0.4);
  display: block;
  width: 160px;
  height: 26px;
  margin: 0 10px;
  padding: 0 15px;
  font-size: 10px;
  line-height: 20px;
  color: #444444;
  border: 2px solid #111111;
  text-transform: uppercase;
  position: relative;
}

/* Navigation bar */
/* line 64, ../sass/extend.sass */
#user-nav .margin {
  width: 920px;
  height: 30px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  background: black;
}
/* line 72, ../sass/extend.sass */
#user-nav .margin ul li {
  font-size: 14px;
}
/* line 75, ../sass/extend.sass */
#user-nav .margin #social-connect a {
  float: left;
  width: 30px;
  height: 30px;
}
/* line 79, ../sass/extend.sass */
#user-nav .margin #social-connect .social-connect-fb {
  background: url("../img/wdmk_fb.png") no-repeat center center;
}
/* line 81, ../sass/extend.sass */
#user-nav .margin #social-connect .social-connect-tw {
  background: url("../img/wdmk_tw.png") no-repeat center center;
}
/* line 83, ../sass/extend.sass */
#user-nav .margin #social-connect .social-connect-pt {
  background: url("../img/wdmk_pt.png") no-repeat center center;
}
/* line 85, ../sass/extend.sass */
#user-nav .margin #languages {
  margin: 0 auto;
  width: 310px;
  height: 30px;
  position: relative;
}
/* line 90, ../sass/extend.sass */
#user-nav .margin #languages span {
  width: 85px;
  height: 30px;
  display: block;
  float: left;
}
/* line 95, ../sass/extend.sass */
#user-nav .margin #languages span.lang-dx {
  background: url("../img/wdmk_lang_dx.png") no-repeat center center;
}
/* line 97, ../sass/extend.sass */
#user-nav .margin #languages span.lang-sx {
  background: url("../img/wdmk_lang_sx.png") no-repeat center center;
}
/* line 99, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate {
  margin-left: -10px;
  float: left;
  width: 140px;
  height: 30px;
}
/* line 105, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate ul {
  top: 4px;
  right: 98px;
}
/* line 108, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 113, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate ul li a:visited, #user-nav .margin #languages .widget_qtranslate ul li a:active {
  color: white;
  text-decoration: none;
}
/* line 116, ../sass/extend.sass */
#user-nav .margin #languages .widget_qtranslate ul li a:hover {
  color: #cccccc;
  text-decoration: none;
}
/* line 119, ../sass/extend.sass */
#user-nav .margin #log-in ul {
  position: absolute;
  top: 7px;
  right: 30px;
}
/* line 123, ../sass/extend.sass */
#user-nav .margin #log-in ul li {
  font-size: 12px;
  text-transform: uppercase;
}
/* line 126, ../sass/extend.sass */
#user-nav .margin #log-in ul li a {
  color: white;
}
/* line 128, ../sass/extend.sass */
#user-nav .margin #log-in ul li a:visited, #user-nav .margin #log-in ul li a:active {
  color: white;
}
/* line 130, ../sass/extend.sass */
#user-nav .margin #log-in ul li a:hover {
  color: #cccccc;
}

/* Header */
/* line 137, ../sass/extend.sass */
body.home #header, #header {
  width: 920px;
  height: 102px;
  margin: 0 auto;
  padding: 27px 30px 0;
  background: url(../img/wdmk_bk_header.png) repeat-x 0 bottom black;
}

/* line 144, ../sass/extend.sass */
body.home #header #logo, #header #logo {
  float: left;
  margin: 20px 0 0;
}

/* line 148, ../sass/extend.sass */
body.home #header .margin, #header .margin {
  width: auto;
  border-bottom: 0 none transparent;
  padding: 0;
}

/* line 153, ../sass/extend.sass */
body.home #header #topnav, #header #topnav {
  bottom: 22px;
}
/* line 155, ../sass/extend.sass */
body.home #header #topnav #menu-main-menu, #header #topnav #menu-main-menu {
  padding: 0;
}
/* line 157, ../sass/extend.sass */
body.home #header #topnav ul, #header #topnav ul {
  width: auto;
}
/* line 160, ../sass/extend.sass */
body.home #header #topnav ul li, #header #topnav ul li {
  height: 18px;
  border-right: 3px solid black;
}
/* line 165, ../sass/extend.sass */
body.home #header #topnav ul li#menu-item-129, #header #topnav ul li#menu-item-129 {
  border-right: none;
}
/* line 167, ../sass/extend.sass */
body.home #header #topnav ul li#menu-item-129 a, #header #topnav ul li#menu-item-129 a {
  padding-right: 0;
  color: white;
}
/* line 170, ../sass/extend.sass */
body.home #header #topnav ul li#menu-item-129 a:hover, #header #topnav ul li#menu-item-129 a:hover {
  color: black;
}
/* line 172, ../sass/extend.sass */
body.home #header #topnav ul li a, #header #topnav ul li a {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  padding: 0px 10px;
  position: relative;
  text-decoration: none;
  color: black;
  margin-top: -4px;
}
/* line 181, ../sass/extend.sass */
body.home #header #topnav ul li a:visited, body.home #header #topnav ul li a:active, #header #topnav ul li a:visited, #header #topnav ul li a:active {
  color: black;
}
/* line 183, ../sass/extend.sass */
body.home #header #topnav ul li a:hover, #header #topnav ul li a:hover {
  color: white;
  background-color: transparent;
}

/* line 186, ../sass/extend.sass */
#search-key-words {
  width: 270px;
  position: absolute;
  right: 15px;
  top: 129px;
  background: url(../img/wdmk_bk_search_top.png) no-repeat center center;
}
/* line 192, ../sass/extend.sass */
#search-key-words input[type="text"] {
  margin: 0 38px 3px;
  background: url("../img/wdmk_search_metawords.png") no-repeat 99% center, white;
}

/* line 197, ../sass/extend.sass */
#leader {
  width: 980px;
  padding: 0;
  background: transparent;
  position: relative;
}
/* line 202, ../sass/extend.sass */
#leader h1 {
  position: absolute;
  top: 20px;
  left: 30px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 black;
}

/* line 211, ../sass/extend.sass */
div.breadcrumb {
  padding: 7px 7px 0 0;
  margin-top: 5px;
}
/* line 214, ../sass/extend.sass */
div#products_page_container {
  margin: 0;
}

/* Main Content */
/* line 218, ../sass/extend.sass */
#content-wrapper {
  width: 920px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}
/* line 225, ../sass/extend.sass */
#content-wrapper .custom-search-widget {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 228, ../sass/extend.sass */
#content-wrapper .custom-search-widget #search-key-words {
  float: right;
}
/* line 234, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul li {
  float: left;
  background: #0099ff;
  margin: 0 3px 3px 0;
}
/* line 238, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul li a {
  color: white;
  padding: 7px;
  font-size: 18px;
  text-transform: uppercase;
}
/* line 243, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul li a:hover {
  color: #003366;
}
/* line 246, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul .active a {
  color: #003366;
}
/* line 248, ../sass/extend.sass */
#content-wrapper .custom-search-widget .menuTabs ul .active a:hover {
  color: white;
}
/* line 250, ../sass/extend.sass */
/*#content-wrapper .custom-search-widget .wdm-select {*/
/*  clear: both;*/
/*  position: relative;*/
/*  margin-top: 20px;*/
/*  -webkit-border-radius: 5px;*/
/*  -moz-border-radius: 5px;*/
/*  -ms-border-radius: 5px;*/
/*  -o-border-radius: 5px;*/
/*  border-radius: 5px;*/
/*  border: 1px solid #444444;*/
/*  padding: 20px 0 20px 10px;*/
/*  background: url(../img/wdmk_bk_search.png) repeat 0 0;*/
/*}*/
#content-wrapper .custom-search-widget{

  position: relative;

}
.mainTabs ul{
  /*height:45px;*/
}
.mainTabs ul li{
  display:inline-block;
  padding:10px 26px 10px 26px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #444444;
  border-right:1px solid #444444;
  border-left:1px solid #444444;
  border-bottom:none!important;
  background: url(../img/wdmk_bk_search.jpg) repeat 0 0;
  font-size:2em;
  text-transform:uppercase;
  position:relative;
  bottom:-1px;

}
.mainTabs ul li:active{
  padding-top:7px;
  position:relative;
  top:1px;
}
#content-wrapper .custom-search-widget #containerUnderCat{
  position: relative;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -ms-border-radius: 0 5px 5px 5px;
  -o-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
  border-top: 1px solid #444444;
  border-right:1px solid #444444;
  border-left:1px solid #444444;
  border-bottom:1px solid #444444;
  padding: 10px 0 20px 10px;
  background: url(../img/wdmk_bk_search.png) repeat 0 0;
}
#flexishop_products_page_container{
  padding:15px ;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
  border-radius: 5px ;
  border: 1px solid #444444;
  background: url(../img/wdmk_bk_search.png) repeat 0 0;
}
/* line 259, ../sass/extend.sass */
#content-wrapper .custom-search-widget .wdm-select label {
  display: none;
}
/* line 261, ../sass/extend.sass */
#content-wrapper .custom-search-widget .wdm-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
  margin: 5px 10px 25px 0;
  width: 444px;
  height: 35px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 3px 0 0;
  text-indent: 15px;
  -webkit-box-shadow: rgba(68, 68, 68, 0.7) 2px 2px 5px 1px inset;
  -moz-box-shadow: rgba(68, 68, 68, 0.7) 2px 2px 5px 1px inset;
  box-shadow: rgba(68, 68, 68, 0.7) 2px 2px 5px 1px inset;
  background: url(../img/wdmk_select_arrow.png) no-repeat right center white;
}
/* line 274, ../sass/extend.sass */
#content-wrapper .custom-search-widget .wdm-select .wdm-separator {
  clear: both;
  width: 840px;
  height: 1px;
  margin: 0 auto;
  background-color: #0099ff;
}
/* line 283, ../sass/extend.sass */
#content-wrapper .custom-search-widget .wdm-select .wdm-static-select {
  margin-top: 15px;
  width: 100%;
}
/* line 288, ../sass/extend.sass */
#content-wrapper .custom-search-widget .wdm-select .wdm-static-select select {
  width: 217px;
  height: 30px;
  font-size: 15px;
}
/* line 292, ../sass/extend.sass */
#content-wrapper .custom-search-widget select[name="wdm_pmin"],
#content-wrapper .custom-search-widget input[type="submit"] {
  width: 217px;
  height: 30px;
  font-size: 15px;
  margin-bottom: 5px;
}
/* line 300, ../sass/extend.sass */
#content-wrapper .custom-search-widget input[type="submit"] {
  float: right;
  margin: 7px 10px 5px 0;
  float: right;
  padding: 0 15px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  color: white;
  text-shadow: black 0 -1px 0;
  text-transform: uppercase;
  border: 1px solid black;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: url("../img/wdmk_search_button.png") no-repeat 95% center, rgba(9, 114, 202, 0.8);
}
/* line 321, ../sass/extend.sass */
#content-wrapper #home-sidebar, #content-wrapper #sidebar {
  float: right;
}
/* line 323, ../sass/extend.sass */
#content-wrapper #home-sidebar h3, #content-wrapper #sidebar h3 {
  display: none;
}
/* line 325, ../sass/extend.sass */
#content-wrapper #sidebar {
  width: 120px;
  margin-top: 80px;
}
/* line 329, ../sass/extend.sass */
#content-wrapper #sidebar li.widget-container {
  padding: 0;
}
/* line 331, ../sass/extend.sass */
#content-wrapper #main-col {
  width: 780px;
}
/* line 333, ../sass/extend.sass */
#content-wrapper #main-col #page {
  margin-top: 80px;
}
/* line 336, ../sass/extend.sass */
#content-wrapper #main-col .blog-post {
  width: 180px;
  float: left;
  margin-right: 10px;
  height: 300px;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  border-bottom: none;
}
/* line 347, ../sass/extend.sass */
#content-wrapper .prima-multislider ul li .prima-multislide-box {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  width:180px!important;
}
/* line 351, ../sass/extend.sass */
#content-wrapper .overlay {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
  border-top: 1px solid #DDDDDD;
  bottom: -10px;
  height: 165px;
  margin-bottom: 20px;
  position: absolute;
  width: 180px;
  z-index: 10;
}
/* line 359, ../sass/extend.sass */
#content-wrapper .overlay .price {
  height: 60px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: 700;
  line-height: 1.7;
}
/* line 367, ../sass/extend.sass */
#content-wrapper .overlay .excerpt {
  max-height: 47px;
  overflow: hidden;
  text-align: left;
  line-height: 1.3;
}
/* line 372, ../sass/extend.sass */
#content-wrapper .overlay h3 {
  text-align: left;
  margin-bottom: 7px;
}
/* line 375, ../sass/extend.sass */
#content-wrapper .overlay a {
  font-size: 14px;
  color: #0099ff;
}
/* line 378, ../sass/extend.sass */
#content-wrapper .overlay a.read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  width: 100%;
  color: white;
  background: #0099ff;
  text-align: center;
}

/* Footer */
/* line 395, ../sass/extend.sass */
#footer {
  background: url(../img/wdmk_bk_footer.png) 0 bottom repeat-x black;
  padding: 0 30px;
  line-height: 1.8;
}
/* line 400, ../sass/extend.sass */
#footer #bannerdiv0 {
  margin-left: -30px;
  position: relative;
  top: 4px;
}
/* line 404, ../sass/extend.sass */
#footer #footer-bottom {
  padding: 5px 0;
}
/* line 406, ../sass/extend.sass */
#footer #footer-bottom .col-3 {
  width: 286px;
  margin-right: 15px;
}
/* line 410, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container {
  padding-top: 25px;
  padding-right: 15px;
  margin-bottom: 0;
  border-right: 1px solid #0099ff;
  height: 171px;
  width: 286px;
}
/* line 417, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container a {
  font-size: 16px;
  color: #beceda;
}
/* line 420, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container a:visited, #footer #footer-bottom .col-3 .widget-container a:active {
  color: #beceda;
}
/* line 422, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container p, #footer #footer-bottom .col-3 .widget-container li {
  color: #beceda;
}
/* line 424, ../sass/extend.sass */
#footer #footer-bottom .col-3 .widget-container a:hover {
  color: #beceda;
  text-decoration: underline;
}
/* line 428, ../sass/extend.sass */
#footer #footer-bottom .widget_ns_mailchimp {
  margin-left: 15px;
  height: 186px;
  width: 286px;
  position: relative;
}
/* line 434, ../sass/extend.sass */
#footer #footer-bottom .widget_ns_mailchimp h3 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  text-shadow: none;
}
/* line 442, ../sass/extend.sass */
#footer #footer-bottom .widget_ns_mailchimp #ns_widget_mailchimp_form-4 label {
  color: #beceda;
  line-height: 2;
}
/* line 446, ../sass/extend.sass */
#footer #footer-bottom .widget_ns_mailchimp #ns_widget_mailchimp_form-4 input[type="text"] {
  padding: 0 10px;
  font-size: 10px;
  color: #010000;
  border: 2px solid #000033;
  width: 262px;
  height: 26px;
  text-transform: none;
  -webkit-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  -moz-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  margin: 0;
}
/* line 456, ../sass/extend.sass */
#footer #footer-bottom .widget_ns_mailchimp #ns_widget_mailchimp_form-4 .error {
  margin: 0;
  padding: 0.5em 1em;
}
/* line 459, ../sass/extend.sass */
#footer #footer-bottom .widget_ns_mailchimp #ns_widget_mailchimp_form-4 .error:before {
  content: "Please insert a valid email";
  color: white;
  font-size: 11px;
  position: absolute;
  top: 90px;
  left: 150px;
}
/* line 466, ../sass/extend.sass */
#footer #footer-bottom .widget_ns_mailchimp #ns_widget_mailchimp_form-4 .error #ml-email {
  border: 2px solid red;
  -webkit-box-shadow: 0 0 15px 0 red;
  -moz-box-shadow: 0 0 15px 0 red;
  box-shadow: 0 0 15px 0 red;
}
/* line 470, ../sass/extend.sass */
#footer #footer-bottom .widget_ns_mailchimp #ns_widget_mailchimp_form-4 .button {
  font-size: 16px;
  background: #000033;
  text-transform: uppercase;
  padding: 0 20px;
  height: 26px;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  margin-top: 5px;
  color: white;
  border-left: none;
  border-right: none;
  float: right;
}
/* line 484, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form {
  padding-top: 19px;
  padding-left: 30px;
  margin: 0;
  height: 171px;
  width: 286px;
  position: relative;
}
/* line 492, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .footer-contact-form-title {
  margin: 0 0 10px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 498, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form input[type="text"] {
  padding: 0 10px;
  font-size: 10px;
  color: #010000;
  border: 2px solid #000033;
  width: 262px;
  height: 26px;
  margin: 0;
  text-transform: none;
  margin-bottom: 20px;
  -webkit-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  -moz-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
}
/* line 509, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .footer-contact-form-message {
  margin: 0;
}
/* line 511, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .footer-contact-form-message textarea {
  margin-top: -15px;
  margin-left: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 7px 10px;
  font-size: 10px;
  color: #010000;
  border: 2px solid #000033;
  width: 262px;
  height: 46px;
  overflow: auto;
  -webkit-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  -moz-box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
  box-shadow: rgba(68, 68, 68, 0.6) 1px 1px 5px 1px inset;
}
/* line 524, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form input[type="submit"] {
  display: block !important;
  background: #000033 !important;
  border: 0 none transparent !important;
  color: white !important;
  cursor: pointer !important;
  float: right !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  height: 26px !important;
  line-height: 20px !important;
  margin: 5px 0 0 !important;
  padding: 0 20px !important;
  text-align: center !important;
  text-transform: uppercase;
  line-height: 1;
}
/* line 542, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .my-error-input input {
  border: 2px solid red;
  -webkit-box-shadow: 0 0 15px 0 red;
  -moz-box-shadow: 0 0 15px 0 red;
  box-shadow: 0 0 15px 0 red;
}
/* line 545, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .my-error-input:before {
  content: "Please insert a valid email";
  color: white;
  position: absolute;
  top: 20px;
  left: 150px;
}
/* line 552, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .my-error-textarea textarea {
  border: 2px solid red;
  -webkit-box-shadow: 0 0 15px 0 red;
  -moz-box-shadow: 0 0 15px 0 red;
  box-shadow: 0 0 15px 0 red;
}
/* line 555, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form .my-error-textarea:before {
  content: "Please insert a message";
  color: white;
  position: absolute;
  top: 20px;
  left: 150px;
}
/* line 563, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form div.wpcf7-response-output {
  margin: 0;
  padding: 0;
}
/* line 566, ../sass/extend.sass */
#footer #footer-bottom .footer-contact-form div.wpcf7-mail-sent-ok {
  color: white;
  border: 0 none transparent !important;
}

/* line 570, ../sass/extend.sass */
#copyright {
  width: 980px;
  margin: 0 auto;
}
/* line 573, ../sass/extend.sass */
#copyright .margin {
  padding: 0px 30px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

/* line 578, ../sass/extend.sass */
#checkout {
  margin-top: 80px;
}
/* line 581, ../sass/extend.sass */
#checkout .user-profile-links a {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}
/* line 585, ../sass/extend.sass */
#checkout .user-profile-links a:active, #checkout .user-profile-links a:hover {
  color: #cccccc;
}
/* line 588, ../sass/extend.sass */
#checkout #loginform {
  margin-top: 30px;
}
/* line 590, ../sass/extend.sass */
#checkout #loginform p {
  margin: 0;
}
/* line 592, ../sass/extend.sass */
#checkout #loginform label {
  margin: 0 15px;
}
/* line 594, ../sass/extend.sass */
#checkout #loginform input {
  margin: 0;
}
/* line 596, ../sass/extend.sass */
#checkout #loginform input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background: #0099ff;
  border: none;
  padding: 5px 20px;
  margin: 10px 15px 0;
  font-size: 15px;
  cursor: pointer;
}
/* line 607, ../sass/extend.sass */
#checkout #social-login {
  margin-top: 20px;
}
/* line 609, ../sass/extend.sass */
#checkout #social-login div.new-fb-1 {
  margin-left: 20px;
}
/* line 613, ../sass/extend.sass */
#checkout table {
  background: white;
}
/* line 616, ../sass/extend.sass */
#checkout table th, #checkout table td, #checkout table caption {
  color: #444444;
}
/* line 618, ../sass/extend.sass */
#checkout textarea {
  height: 56px;
}
/* line 620, ../sass/extend.sass */
#checkout select {
  width: 180px;
  margin-left: 17px;
}
/* line 623, ../sass/extend.sass */
#checkout input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background: #000033;
  border: none;
  padding: 5px 20px;
  margin: 10px 20px 0;
  font-size: 12px;
  cursor: pointer;
}

/* line 637, ../sass/extend.sass */
.prima-multislider ul li,
div#main-col .prima-multislider ul li {
  padding-left: 0;
}

/* line 643, ../sass/extend.sass */
#products {
  margin-top: 80px;
}

/* line 645, ../sass/extend.sass */
div.breadcrumb {
  position: absolute;
  top: 70px;
  left: 30px;
  padding: 0;
  margin: 0;
}

/* line 651, ../sass/extend.sass */
.big_green_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background: #0099ff;
  border: none;
  padding: 5px 20px;
  margin: 10px 0;
  font-size: 12px;
  cursor: pointer;
}

/* line 663, ../sass/extend.sass */
span.vote_total {
  color: white;
}

/* line 666, ../sass/extend.sass */
.wpsc_product_rating .star a {
  background: transparent url("../img/grey-star.png") no-repeat 0 bottom;
}

/* line 668, ../sass/extend.sass */
.wpsc_product_rating .star a.selected, .wpsc_product_rating .star a:hover {
  background: transparent url("../img/gold-star.png") no-repeat 0 bottom;
}

/* line 672, ../sass/extend.sass */
h3.prodtitles a {
  color: white;
  text-shadow: none;
}

/* line 677, ../sass/extend.sass */
div.wpsc_description p {
  font-size: 14px;
}

/* line 682, ../sass/extend.sass */
#authorbox h3 {
  display: none;
}

/* line 685, ../sass/extend.sass */
dt {
  margin-top: 20px;
}

/* line 687, ../sass/extend.sass */
.profile-avatar {
  float: left;
  margin: 10px 20px 0 0;
}

/* line 693, ../sass/extend.sass */
.addthis_toolbox {
  margin: 0 0 20px;
}

/* line 696, ../sass/extend.sass */
.single-imagecol {
  width: 400px !important;
  max-width: 400px !important;
}
/* line 699, ../sass/extend.sass */
.single-imagecol div.main_image a {
  max-width: 400px !important;
  width: auto !important;
}

/* line 703, ../sass/extend.sass */
div.single-producttext {
  width: 450px !important;
  max-width: 450px !important;
}

/* line 707, ../sass/extend.sass */
img.attachment-post-thumbnail {
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white;
}

/* line 715, ../sass/extend.sass */
div.group-thumbnail img, div.single_container div.single-imagecol a img {
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white;
}

/* line 722, ../sass/extend.sass */
a.large-blog-image img, div.main_image img {
  border: 0 none transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: white;
}

/* line 729, ../sass/extend.sass */
.custom_product_footer {
  clear: both;
  margin: 20px 0 0;
  padding: 10px 0;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  overflow: hidden;
}
/* line 736, ../sass/extend.sass */
.custom_product_footer p {
  margin: 0;
}
/* line 738, ../sass/extend.sass */
.custom_product_footer .lt {
  float: left;
  width: 240px;
}
/* line 741, ../sass/extend.sass */
.custom_product_footer .rt {
  float: left;
  width: 240px;
  margin: 0 0 0 10px;
}

/* line 745, ../sass/extend.sass */
.contact-profile {
  margin-top: 20px;
  font-weight: normal;
}

/* line 748, ../sass/extend.sass */
.box-author {
  clear: both;
  position: relative;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #444444;
  padding: 20px;
  background-color:black;
  /*background: url(../img/wdmk_bk_search.png) repeat-x 0 0;*/
}
/* line 757, ../sass/extend.sass */
.box-author img {
  float: left;
  margin-right: 20px;
}
/* line 760, ../sass/extend.sass */
.box-author li {
  font-size: 16px;
  font-style: italic;
  margin-left: 20px;
  list-style: none;
  line-height: 22px;
}
/* line 766, ../sass/extend.sass */
.box-author li span {
  color: white;
  font-style: normal;
  margin-left: 5px;
}
/* line 770, ../sass/extend.sass */
.box-author .wdm-separator {
  clear: both;
  width: 95%;
  height: 1px;
  margin: 20px auto 0;
  background-color: #0099ff;
}
/* line 776, ../sass/extend.sass */
.box-author .button-author {
  width: 448px;
  margin: 0 auto;
}
/* line 779, ../sass/extend.sass */
.box-author .button-author a {
  width: 183px;
  color: white;
  background: #0099ff;
  text-align: center;
  display: block;
  float: left;
  padding: 5px;
  margin: 20px 20px 0 0;
}
/* line 788, ../sass/extend.sass */
.box-author .button-author a last {
  margin-right: 0;
}

/* line 793, ../sass/extend.sass */
.addthis_container_custom .addthis_toolbox {
  margin: 10px 0;
}

/* line 796, ../sass/extend.sass */
#adsense {
  height: 90px;
  padding: 30px;
}

/* line 803, ../sass/extend.sass */
#slider-controls {
  text-align: center  ;
  /*margin-top: -28px;*/
  /*padding-right: 30px;*/
}

/* line 808, ../sass/extend.sass */
#featured-slider {
  padding-bottom: 15px;
}

/* line 811, ../sass/extend.sass */
.prima-multislider-title {
  left: -10px;
}

#content-wrapper .prima-multislide-box .overlay {
  margin-bottom: 10px;
  height: 175px;
}

.prima-multislide-box .prima-multislide-link {
  overflow: hidden;
  display: block;
  width: 180px;
  height: 125px;
}

.prima-multislide-box .sale-icon {
  position: absolute;
  width: 57px;
  height: 57px;
  left: -10px;
  top: -10px;
  background: transparent url(../images/sale.png) no-repeat center center;
  text-indent: -100000px;
}
